body {
  margin: 0;
  font-family: 'Sligoil-Micro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: blue;
  text-decoration: underline;
}

@font-face {
  font-family: 'FT88-Gothique';
  src: local('FT88-Gothique'), url(./assets/fonts/FT88-Gothique.otf) format('otf');
}

@font-face {
  font-family: 'SyneMono-Regular';
  src: local('SyneMono-Regular'), url(./assets/fonts/SyneMono-Regular.otf) format('otf');
}

@font-face {
  font-family: 'Sligoil-Micro';
  src: local('Sligoil-Micro'), url(./assets/fonts/Sligoil-Micro.otf) format('otf');
}

@font-face {
  font-family: 'kaerukaeru-Regular';
  src: local('kaerukaeru-Regular'), url(./assets/fonts/kaerukaeru-Regular.otf) format('otf');
}